__pycache__
.pytest_cache
.mypy_cache
.venv
.vscode
*.log
rnd.py
cache
conf/settings.py
conf/text-to-speech-key.json
*.sqlite
*.sqlite*
.coverage
coverage.xml
htmlcov
in/*.pdf
in/*.epub
in/*.txt
txt/*.md
txt/*.txt
out/*
